<% if user_signed_in? %>
  <% if current_user.favorited_by?(salon) %>
    <%= button_to salon_favorites_path(salon), method: :delete, class: "btn btn-bookmark-remove-custom btn-sm btn-fixed-width" do %>
      <i class="fa-solid fa-bookmark"></i> ブックマーク解除
    <% end %>
  <% else %>
    <%= button_to salon_favorites_path(salon), method: :post, class: "btn btn-bookmark-inactive btn-sm btn-fixed-width" do %>
      <i class="fa-regular fa-bookmark"></i> ブックマークする
    <% end %>
  <% end %>
<% else %>
  <p class="text-muted small mt-2">ブックマークするには<%= link_to "ログイン", new_user_session_path %>してください</p>
<% end %>