<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mb-3">
        <h1 class="mb-4">Beauty Wanについて</h1>
        <p class="mb-4">
          犬のトリミングは美容面だけと思われがちですが、健康管理や衛生状態を保つために必要です。<br>
          トリミング時は大切な愛犬を一時的に預けることになるため、<br>
          安心して任せられるサロンにお願いしたいところです。
        </p>
        <p class="mb-4">
          安心できるトリミングサロンを選ぶ上で、清潔で衛生的な環境であるか、<br>
          安全面に配慮されているか、料金設定やサービス内容はどのようになっているか等、<br>
          飼い主さんにとってチェックしたいことがあるかと思います。
        </p>
        <p class="mb-4">
          しかし、人間の美容院と比べ店舗数は少なく、<br>
          そのサロンが実際どんなところであるかという情報は少ないです。
        </p>
        <p>
          Beauty Wanは、サロン情報だけでなく、実際にサロンに行かれた方の口コミが投稿されています。<br>
          全ての飼い主様がBeauty Wanを通して安心できるトリミングサロンと出会えるサイトを目指します。
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-10">
      <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
          <div class="card h-100">
            <%= image_tag 'grooming1.jpg', class: 'card-img-top img-fluid', style: 'object-fit: cover; height: 250px; object-position: 30% center;' %>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <%= image_tag 'grooming3.jpg', class: 'card-img-top img-fluid', style: 'object-fit: cover; height: 250px;' %>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <%= image_tag 'grooming2.jpg', class: 'card-img-top img-fluid', style: 'object-fit: cover; height: 250px;' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>