@use '~bootstrap/scss/bootstrap';

header .navbar {
  background-color: #C7B7A3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 60px; /* ナビゲーションバーの高さに合わせて調整 */
  width: auto; /* 高さに合わせて幅を自動調整 */
  display: block; /* 余分なスペースをなくすためにブロック要素に */
}

.navbar-nav .nav-link {
  color: #333;
}

body {
  background-color: #F1EFE9;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-card-background {
  background-color: #FFFDF6;
}

.search-form-hero .btn {
  white-space: nowrap; /* ボタン内のテキストを折り返さない */
}

footer {
  background-color: #C7B7A3;
}